body {
    display: flex;
    height: 100vh;
    margin: 0;
}

.sidebar {
    position: fixed;
    top: 56px;
    left: 0;
    height: calc(100% - 56px);
    width: 200px;
    background-color: #ffffff;
    padding: 1rem;
    overflow-y: auto;
}

.content {
    margin-left: 200px;
    padding: 1rem;
    flex-grow: 1;
    margin-top: 56px;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}
